# Xcode & Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.xcarchive

# Certificates & Keys (Sensitive)
*.p12
*.cer
*.pem
*.key
*.certSigningRequest
*.mobileprovision

# macOS & System
.DS_Store
*.swp
*~
