<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SmartStock</string>
    <key>CFBundleDisplayName</key>
    <string>SmartStock</string>
    <key>CFBundleIdentifier</key>
    <string>com.samvel.smartstock.SmartStock</string>
    <key>CFBundleVersion</key>
    <string>7</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>SmartStock</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Приложению нужен доступ к Фото для выбора изображений для загрузки на фотостоки.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Приложению нужен доступ для сохранения обработанных фотографий.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.samvel.smartstock.backgroundRefresh</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CADisableMinimumFrameDuration</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.samvel.smartstock</string>
                <string>com.samvel.smartstock.SmartStock</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
